<div id="links">
	<div class="title">Useful Links</div>
	
	<div ng-if="auth.links" class="newButton">
		<button class="btn btn-success" ng-click="edit.group()">New Group</button>
	</div>

	<div id="links" class="container-fluid">
		<div ng-repeat="half in getHalves()" class="col-md-6">
			<div ng-repeat="group in half" class="linkGroup">
				<div class="header">
					{{ group.name }}
					<div class="admin" ng-if="auth.links">
						<button class="btn btn-success" ng-click="edit.link(group)">New Link</button>
						<button class="btn btn-primary" ng-click="edit.group(group)">Edit</button>
						<button class="btn btn-danger" ng-click="delete.group(group)">Delete</button>
						<button ng-if="group.ordering > 0" class="btn btn-success" ng-click="up.group(group)"><i class="fa fa-arrow-up"></i></button>
						<button ng-if="group.ordering < (groups.length - 1)" class="btn btn-success" ng-click="down.group(group)"><i class="fa fa-arrow-down"></i></button>
					</div>
				</div>
				<ul>
					<li ng-repeat="link in group.links">
						<button ng-if="auth.links" class="btn btn-primary" ng-click="edit.link(group, link)">Edit</button>
						<button ng-if="auth.links" class="btn btn-danger" ng-click="delete.link(group, link)">Delete</button>
						<button ng-if="auth.links && $index > 0" class="btn btn-success" ng-click="up.link(group, link)"><i class="fa fa-arrow-up"></i></button>
						<button ng-if="auth.links && $index < (group.links.length - 1)" class="btn btn-success" ng-click="down.link(group, link)"><i class="fa fa-arrow-down"></i></button>
						<a href="{{ link.url }}">{{ link.name }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
