<html>
<head>
	<title>Jackson Obedience Training Club | JOTC</title>
	
	<!-- bower:css -->
	<!-- endbower -->
	<link rel="stylesheet" type="text/css" href="style/main.css">
</head>
<body ng-app="jotc" ng-controller="main">
	
	<div id="header">
		<img class="logo" src="media/jotc_logo_color.png">
		<div class="title">
			Jackson Obedience
			<br>Training Club
			<div class="motto">Teaching You to Train Your Dog</div>
		</div>
		<div id="userStatus">
			[
			<span ng-if="!auth.isLoggedIn()" ng-click="login();">Login</span>
			<span ng-if="auth.isLoggedIn()">
				Hello {{ auth.getUsername() }} |
				<span ng-if="auth.permissions.users">
					<a href="#/users">Manage Users</a> | </span>
				<span ng-if="auth.permissions.payments">
					<a href="#/payments">View Payments</a> | </span>
				<span ng-click="logout();">Logout</span>
			</span> ]
		</div>
	</div>
	
	<div id="navBar" ng-class="{ fixed: navbar.fixed }">
		<div class="title">Jackson Obedience Training Club
		</div><div class="item">
			<a href="#/home">Home</a>
		</div><div class="item">
			<a href="#/shows">Shows</a>
		</div><div class="item">
			<a href="#/classes">Classes</a>
		</div><div class="item">
			<a href="#/pictures">Pictures</a>
		</div><div class="item">
			<a href="#/calendar">Calendar</a>
		</div><div class="item">
			<a href="#/links">Links</a>
		</div><div class="item">
			<a href="#/about">About JOTC</a>
		</div>
	</div>
	
	<div ng-view></div>
	

	<script src="https://checkout.stripe.com/checkout.js"></script>

	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<!-- endbower -->
	<script src="//localhost:35729/livereload.js"></script>
	<script src="js/partials.js" type="text/javascript"></script>
	<script src="js/main.js" type="text/javascript"></script>
	<script src="js/sha256.js" type="text/javascript"></script>
	<script src="sections/uploader/uploader.js" type="text/javascript"></script>
	<script src="sections/login/controller.js" type="text/javascript"></script>
	<script src="sections/users/controller.js" type="text/javascript"></script>
	<script src="sections/resetPassword/controller.js" type="text/javascript"></script>

	<script src="sections/home/controller.js" type="text/javascript"></script>

	<script src="sections/shows/service.js" type="text/javascript"></script>
	<script src="sections/shows/controller.js" type="text/javascript"></script>

	<script src="sections/classes/service.js" type="text/javascript"></script>
	<script src="sections/classes/controller.js" type="text/javascript"></script>

	<script src="sections/pictures/service.js" type="text/javascript"></script>
	<script src="sections/pictures/controller.js" type="text/javascript"></script>

	<script src="sections/calendar/service.js" type="text/javascript"></script>
	<script src="sections/calendar/controller.js" type="text/javascript"></script>

	<script src="sections/links/service.js" type="text/javascript"></script>
	<script src="sections/links/controller.js" type="text/javascript"></script>

	<script src="sections/about/service.js" type="text/javascript"></script>
	<script src="sections/about/controller.js" type="text/javascript"></script>

	<script src="sections/payments/service.js" type="text/javascript"></script>
	<script src="sections/payments/controller.js" type="text/javascript"></script>
</body>