<div class="modal-header">{{ action }} Show</div>

<div class="modal-body">

	<form>
		<div class="form-group">
			<label>Start Date</label>
			<div class="input-group">
				<input type="text" class="form-control" ng-model="editClass.startDate" disabled datepicker-popup="dd MMM yyyy" is-open="date.start"
				 min-date="">
				<span class="input-group-btn">
					<button class="btn btn-primary" style="height: 34px;" ng-click="date.open('start', $event)">
						<i class="fa fa-calendar"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label>Location</label>
			<input type="text" class="form-control" ng-model="editClass.location">
		</div>
		<div class="form-group">
			<label>Weeks</label>
			<input type="text" class="form-control" ng-model="editClass.numberOfWeeks">
		</div>
		<div class="form-group">
			<label>Hours</label>
			<input type="text" class="form-control" ng-model="editClass.hoursPerWeek">
		</div>
		<div class="form-group">
			<label>Time</label>
			<input type="text" class="form-control" ng-model="editClass.timeOfDay">
		</div>
		<div class="form-group">
			<label>Registration form URL</label>
			<div>If registration is offered via online form, you can add the URL here.</div>
			<input type="text" class="form-control" ng-model="editClass.registrationLink">
		</div>
		<div class="form-group">
			<label>Classes</label>
			<div class="input-group container">
				<div class="row" ng-repeat="row in getClassesByRow()">
					<div class="col-md-4" ng-repeat="class in row">
						<label class="control-label" style="margin-left: 1em; text-indent: -1em;">
							<input type="checkbox" ng-model="classesChecked[class._id]" ng-change="toggleClass(class)"> {{ class.name }}</label>
					</div>
				</div>
			</div>
		</div>
	</form>

</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="save()">Save</button>
	<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>