<div id="about">
	<div class="title">About JOTC</div>

	<div class="table" style="width: 100%; table-layout: fixed;">
		<div class="cell" style="padding-right: 10px;">
			<div style="text-align: center; margin-bottom: 15px; font-size: 1.5em; ">Club Activities</div>
			<ul>
				<li>Monthly Member Meetings</li>
				<li>Training classes held twice in the spring and twice in the fall</li>
				<li>Two-day AKC Obedience trials held in the summer of each year</li>
				<li>Annual awards banquet to honor members who have achieved new titles in various dog events during the year</li>
				<li>Christmas party and "fun match," a "practice trial" for club members to enjoy the holidays together</li>
			</ul>
		</div>

		<div class="cell" style="padding-left: 10px; border-left: 1px solid #AAA;">
			<div style="text-align: center; margin-bottom: 15px; font-size: 1.5em;">Newsletter and Meetings</div>

			The Jackson Obedience Training Club sponsors a monthly newsletter for its members.  The newsletter incldues
			club news, upcoming events, and informative articles of interest to all dog owners.  The club has been
			publishing its newsletter since 1987.  Non-members may subscribe to the newsletter by sending $12 in check,
			payable to JOTC, to:
			<br><br>
			Jackson Obedience Training Club<br>
			PO Box 193<br>
			Jackson, MS 39205
			<br><br>
			Meetings are held on the second Monday of the month.  For information about meeting places, times and
			directions, call the Dog Line at <span class="bold">(601) 352-DOGS (3647)</span>.
		</div>
	</div>

	<div>
		<div style="text-align: center; margin: 15px 0; font-size: 1.5em; ">JOTC Officers</div>
		<div ng-show="auth.officers" class="center">
			<button class="btn btn-success" ng-click="editOfficer()">New Officer</button>
		</div>

		<div class="officers table">
			<div ng-repeat="officer in officers" class="row officer">
				<div ng-if="auth.officers" class="editBox cell">
					<button class="btn btn-primary" ng-click="editOfficer(officer);">Edit</button>
					<button class="btn btn-danger" ng-click="deleteOfficer(officer);">Delete</button>
				</div>
				<div class="cell officerTitle">
					<div ng-repeat="title in officer.titles">{{ title }}</div>
					<span ng-if="officer.titles.length === 0">&nbsp;</span>
				</div>
				<div class="cell officerName">{{ officer.name }}</div>
				<div class="cell officerContact">
					<div ng-repeat="contact in officer.contacts">
						<a ng-show="contact.type == 'email'" href="mailto:{{ contact.value }}">Email ({{ contact.value }})</a>
						<span ng-show="contact.type == 'phone'">Phone ({{ contact.value }})</span>
					</div>
					<span ng-if="officer.contacts.length === 0">&nbsp;</span>
				</div>
			</div>
		</div>
	</div>

</div>
