/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(Roboto-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(Roboto-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 900;
  src: local('Cinzel Decorative Black'), local('CinzelDecorative-Black'), url(cinzel_decorative.woff) format('woff');
}
body {
  background-color: #dddddd;
  font-family: 'Telex', Verdana, Arial, Helvetica;
  line-height: 1.3;
}
.modal {
  background: rgba(0, 0, 0, 0.4);
}
.modal-dialog .modal-header {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #aaaaaa 100%);
  background-image: -moz-linear-gradient(top, #dddddd 0%, #aaaaaa 100%);
  background-image: -o-linear-gradient(top, #dddddd 0%, #aaaaaa 100%);
  background-image: linear-gradient(to bottom, #dddddd 0%, #aaaaaa 100%);
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.modal-dialog .modal-footer {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhYWFhYWEiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #dddddd 100%);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #dddddd 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #dddddd 100%);
  background-image: linear-gradient(to bottom, #aaaaaa 0%, #dddddd 100%);
  color: black;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}
div#header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 200px;
  background-color: #002244;
  z-index: 501;
  color: white;
  text-shadow: 2px 5px 3px black;
  display: table;
  line-height: 1;
}
div#header .title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 42pt;
  font-family: 'Cinzel Decorative';
  font-family: 'Roboto';
  font-style: italic;
  padding-left: 300px;
}
div#header .title .motto {
  font-size: 0.4em;
  font-style: italic;
  font-weight: normal;
}
div#header img.logo {
  position: absolute;
  top: 10px;
  left: 30px;
  max-width: 300px;
  max-height: 300px;
}
div#header #userStatus {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0.8em;
  font-family: sans-serif;
}
div#header #userStatus span[ng-click] {
  cursor: pointer;
}
div#navBar {
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  height: 40px;
  padding: 0 0 0 330px;
  background-color: #333;
  z-index: 500;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1NTU1NTUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iNzAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMzMzMzMiIHN0b3Atb3BhY2l0eT0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNsZXNzaGF0LWdlbmVyYXRlZCkiIC8+PC9zdmc+);
  background-image: -webkit-linear-gradient(top, #555555 0%, #000000 70%, #333333 100%);
  background-image: -moz-linear-gradient(top, #555555 0%, #000000 70%, #333333 100%);
  background-image: -o-linear-gradient(top, #555555 0%, #000000 70%, #333333 100%);
  background-image: linear-gradient(to bottom, #555555 0%, #000000 70%, #333333 100%);
  text-align: center;
  border: 1px outset #555;
  border-left: 0;
  border-right: 0;
}
div#navBar .item {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  color: #ccc;
  border: 1px outset #555;
  border-top: 0;
  border-bottom: 0;
  padding: 0 10px;
  cursor: pointer;
  text-shadow: 0 1px 0 black;
}
div#navBar .item:hover {
  background-color: rgba(0, 128, 255, 0.3);
  color: white;
}
div#navBar .item a {
  text-decoration: none;
  color: #ccc;
}
div.table {
  display: table;
}
div.cell {
  display: table-cell;
  vertical-align: top;
}
div.row {
  display: table-row;
}
ul {
  list-style-type: disc;
  margin-left: 20px;
}
ul li {
  margin-top: 15px;
}
.bold {
  font-weight: bold;
}
div[ng-view] {
  padding: 260px 30px 20px 30px;
}
div[ng-view] .title {
  text-align: center;
  font-family: 'Roboto';
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
}
.center {
  text-align: center;
}
#about .officers {
  width: 70%;
  margin-left: 15%;
  text-align: center;
}
#about .officers .officer .cell {
  padding: 10px 0;
  border-bottom: 1px solid #BBB;
  vertical-align: middle;
}
#about .officers .officer .cell.officerTitle {
  font-weight: bold;
}
#landing .calendar {
  background-color: rgba(0, 0, 0, 0.1);
  width: 20%;
}
#landing .calendar .header {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}
#landing .calendar .event .date {
  background-color: #002244;
  color: white;
  padding: 2px;
}
#landing .calendar .event .body {
  cursor: pointer;
  padding: 5px;
}
#landing .calendar .event .body .link {
  text-align: right;
  font-size: 0.8em;
  color: blue;
  text-decoration: underline;
}
#links {
  width: 100%;
  table-layout: fixed;
}
#links .cell.linksColumn {
  padding-right: 10px;
}
#links .cell.linksColumn + .cell.linksColumn {
  padding: 0;
  padding-left: 10px;
  border-left: 1px solid #AAA;
}
#links .cell.linksColumn .linkGroup {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5em;
}
#pictures .galleries .galleryRow {
  clear: both;
}
#pictures .galleries .galleryRow + .galleryRow .gallery {
  margin-top: 30px;
}
#pictures .galleries .gallery {
  position: relative;
  min-height: 75px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid black;
  cursor: pointer;
}
#pictures .galleries .gallery .preview {
  width: 75px;
  height: 75px;
  float: left;
}
#pictures .galleries .gallery .preview img {
  max-width: 75px;
  max-height: 75px;
  border: 1px solid black;
}
#pictures .galleries .gallery .name {
  font-weight: bold;
  font-size: 1.3em;
  background: #002244;
  color: white;
}
#pictures .galleries .gallery .metadata {
  position: absolute;
  left: 78px;
  bottom: 3px;
  font-size: 0.75em;
  color: #AAA;
  font-style: italic;
}
#pictures .galleries .gallery .upload-box {
  position: relative;
  border: 2px dashed black;
  border-radius: 10px;
  margin: 30px;
  padding: 30px;
  font-style: italic;
  color: #AAA;
}
#pictures .galleries .gallery .uploading {
  text-align: center;
  margin-bottom: 30px;
}
#pictures .galleries .gallery .uploading > span {
  display: block;
  font-style: italic;
}
#pictures .galleries .gallery .uploading > div {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #AAA;
  border: 1px solid black;
  vertical-align: middle;
  text-align: center;
  position: relative;
  margin: 0 10px;
}
#pictures .galleries .gallery .uploading > div img {
  max-width: 48px;
  max-height: 48px;
}
#pictures .galleries .gallery .uploading > div .uploadProgress {
  position: absolute;
  left: 0;
  bottom: 1px;
  height: 6px;
  border: 1px solid black;
  background: #4D4;
  border-radius: 3px;
}
.gallery-modal {
  max-height: 85vh;
}
.gallery-modal .modal-header {
  font-weight: bold;
  font-size: 1.6em;
}
.gallery-modal .modal-body {
  position: relative;
  height: 70vh;
}
.gallery-modal .modal-body .image {
  text-align: center;
}
.gallery-modal .modal-body .image img {
  max-width: 100%;
  max-height: 90%;
  padding-bottom: 10px;
  text-align: center;
}
.gallery-modal .modal-body textarea {
  width: 100%;
  height: 3em;
}
.gallery-modal .modal-body .metadata {
  text-align: center;
  margin: 0 120px;
}
.gallery-modal .modal-body .control {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 30px;
  padding: 5px 10px;
  background: white;
  color: black;
}
.gallery-modal .modal-body .control:hover {
  background: #377bb5;
  color: white;
}
.gallery-modal .modal-body .control.prev {
  margin-left: 5px;
  float: left;
}
.gallery-modal .modal-body .control.next {
  margin-right: 5px;
  float: right;
}
.gallery-modal .modal-footer .page {
  float: left;
}
#shows .header,
#classes .header {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5em;
}
#shows .show,
#classes .show,
#shows .class,
#classes .class {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  clear: both;
}
#shows .show + .show,
#classes .show + .show,
#shows .class + .show,
#classes .class + .show,
#shows .show + .class,
#classes .show + .class,
#shows .class + .class,
#classes .class + .class {
  margin-top: 35px;
}
#shows .show .date,
#classes .show .date,
#shows .class .date,
#classes .class .date {
  padding: 8px;
  background-color: #024;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid black;
}
#shows .show .map,
#classes .show .map,
#shows .class .map,
#classes .class .map {
  float: right;
  text-align: center;
  font-size: 0.7em;
}
#shows .show .map img,
#classes .show .map img,
#shows .class .map img,
#classes .class .map img {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
#shows .show .location,
#classes .show .location,
#shows .class .location,
#classes .class .location {
  padding: 5px 0 5px 10px;
  font-weight: bold;
}
#shows .show .description,
#classes .show .description,
#shows .class .description,
#classes .class .description {
  padding: 0 0 10px 10px;
}
#shows .show .description .button,
#classes .show .description .button,
#shows .class .description .button,
#classes .class .description .button {
  border-radius: 20px;
  background-color: #FA0;
  padding: 3px 10px;
  border: 2px outset;
  cursor: pointer;
}
#shows .show button.register,
#classes .show button.register,
#shows .class button.register,
#classes .class button.register {
  margin: 2em 0 0 2em;
}
#shows .table .cell.right,
#classes .table .cell.right {
  width: 500px;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 0;
  border-left: 3px solid #024;
}
