<div id="landing">
	<div class="title">Welcome to JOTC</div>

	<div class="l-container">
		<div class="content image">
			<img style="width: 90%; border: 1px solid black; box-shadow: 3px 3px 10px #666;" ng-src="/galleryImages/{{ getRandomImage() }}"><!--src="http://i.imgur.com/pWHNIVMh.jpg"-->
		</div>

		<div class="content">
			The Jackson Obedience Training Club, Inc. (JOTC) is a non-profit organization established
			in 1969 and licensed by the American Kennel Club.  The club is dedicated to the advancement
			of dog obedience as a sport and the promotion of responsible pet ownership.  JOTC's belief
			is that any dog, purebred or mixed-breed, can learn basic obedience commands when taught
			with a consistent and positive approach.
			<br><br>
			JOTC sponsors obedience and rally trials, as well as offering training classes at various
			times throughout the year.
			<br><br>
			<span style="font-weight: bold;">Why should you train your dog?</span>
			<br>
			<ul>
				<li>To have your dog under control and responsive to your commands.  Wouldn't it be nice
					to call your dog and have him come running to you?</li>
				<li>To learn how to communicate with your dog so that he knows what you expect of him.
					This will make the dog's life happier and less stressful.</li>
				<li>Your dog's quick response to an obedience command could save his life.  If your dog
					is about to rush into traffic or eat something deadly, you want him to understand
					and obey when you tell him to stop.</li>
				<li>You will build a better, stronger relationship with your dog through training.</li>
				<li>Your dog will learn to be polite and under control at all times, even in public,
					around other dogs, and with many distractions.</li>
				<li>Training your dog will reduce the risk of him biting someone, which could result in
					a lawsuit and even your dog being euthanized.  A well-mannered, trained dog teamed
					with a responsible pet owner is absolutely necessary.  Obedience training is a very
					subtle, non-threatening way of gaining control over a dog that is prone to aggression.
					Once your dog has been properly socialized and trained, the chances of him biting
					someone are significantly reduced.</li>
			</ul>
		</div>

		<div class="content calendar">
			<div class="header">Upcoming Events</div>
			<div class="eventGroup" ng-repeat="eventGroup in events" ng-if="isFuture(eventGroup)">
				<div class="date">{{ eventGroup.date | date : 'MMMM d' }}</div>
				<div class="body" ng-click="click(event)" ng-repeat="event in eventGroup.events">
					{{ event.title }}
					<div class="link">More Information</div>
				</div>
			</div>
		</div>
	</div>
</div>
