<div id="pictures">
	<div class="title">Pictures</div>

	<div ng-if="auth.pictures" style="text-align: center;">
		<button ng-if="auth.pictures" class="btn btn-primary" ng-click="openEditor(null, $event)">New Gallery</button>
	</div>

	<div class="galleries container-fluid">
		<div class="galleryRow" ng-repeat="row in getRows()">
			<div class="col-md-6" ng-repeat="gallery in row">
				<div class="gallery" ng-click="showGallery(gallery)">
					<div class="preview">
						<img ng-src="/galleryImages/{{ gallery.images[0].path }}" ng-if="gallery.images.length > 0">
					</div>
					<div class="name">{{ gallery.name }}</div>
					<div class="description">{{ gallery.description }}</div>
					<div class="metadata">Created {{ gallery.created | date }} | {{ gallery.images.length }} pictures</div>
					<div ng-if="auth.pictures" ng-controller="pictures.dragdrop" gallery-id="{{ gallery._id }}">

						<button class="btn btn-warning" ng-click="openEditor(gallery, $event)">Edit</button>
						<button class="btn btn-danger" ng-click="deleteGallery(gallery, $event)">Delete</button>

						<div ng-file-drop ng-model="files" class="upload-box" drag-over-class="dragover" multiple="true" allow-dir="true" accept=".jpg,.jpeg,.png,.gif">
							Drop pictures here to add them to this gallery
						</div>

						<div class="uploading" ng-if="uploadingFiles.length > 0">
							<span>Currently uploading...</span>
							<div ng-repeat="file in uploadingFiles" class="c---ell">
								<img ng-src="{{ file.objUrl }}">
								<div class="uploadProgress" style="width: {{ file.progress }}%">
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
