@import "bourbon";
@import "neat";
@import "../colors";

> .about-container {
  h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
  }

  .halves {
    @include outer-container;
    margin-bottom: 2em;
    .half {
      @include span-columns(6);
    }
  }

  .officer-list-container {
    @include outer-container;

    .officer-list {
      @include span-columns(10);
      @include shift(1);

      tr + tr {
        border-top: 1px solid #d6d7d9;
      }

      td {
        padding: 1em;


        &.officer-titles {
          @include medium-blue-container;
          font-weight: bold;
          text-align: right;
        }
      }
    }
  }
}
