@import "bourbon";
@import "neat";

> .home-container {
  @include outer-container;

  .random-image-container {
    @include span-columns(3);
    min-height: 1px;

    img {
      max-width: 100%;
    }
  }

  .main {
    @include span-columns(9);
    line-height: 1.4em;

    h3 {
      font-size: 2rem;
    }
  }
}
