@import "bourbon";
@import "neat";

&.home-container {
  @include outer-container;

  .random-image-container {
    @include span-columns(2);
    min-height: 1px;

    img {
      max-width: 100%;
    }
  }

  .main {
    @include span-columns(6);
    line-height: 1.4em;

    h3 {
      font-size: 2rem;
    }
  }

  .sidebar {
    @include span-columns(4);

    h3 {
      background: #112e51;
      color: white;
      padding: 10px;
      margin: 10px 0;
    }
  }
}
