<div class="modal-header">{{ action }} Show</div>

<div class="modal-body">

<form>
	<div class="form-group">
		<label>Show Title</label>
		<input type="text" class="form-control" ng-model="show.title">
	</div>
	<div class="form-group">
		<label>Location</label>
		<input type="text" class="form-control" ng-model="show.location">
	</div>
	<div class="form-group">
		<label>Registration Close Date</label>
		<div class="input-group">
			<input type="text" class="form-control" ng-model="show.registrationDeadline" disabled datepicker-popup="dd MMM yyyy" is-open="dateOpen.reg">
			<span class="input-group-btn">
				<button class="btn btn-primary" style="height: 34px;" ng-click="dateOpen.open('reg', $event);"><i class="fa fa-calendar"></i></button>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label>Start Date</label>
		<div class="input-group">
			<input type="text" class="form-control" ng-model="show.startDate" disabled datepicker-popup="dd MMM yyyy" is-open="dateOpen.start" min-date="show.registrationDeadline">
			<span class="input-group-btn">
				<button class="btn btn-primary" style="height: 34px;" ng-click="dateOpen.open('start', $event);"><i class="fa fa-calendar"></i></button>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label>End Date</label>
		<div class="input-group">
			<input type="text" class="form-control" ng-model="show.endDate" disabled datepicker-popup="dd MMM yyyy" is-open="dateOpen.end" min-date="show.startDate">
			<span class="input-group-btn">
				<button class="btn btn-primary" style="height: 34px;" ng-click="dateOpen.open('end', $event);"><i class="fa fa-calendar"></i></button>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label>Description</label>
		<textarea class="form-control" rows="5" ng-model="show.description"></textarea>
	</div>
	<div class="form-group">
		<label>Registration Link</label>
		<input type="text" class="form-control" ng-model="show.registrationLink">
	</div>
	<div class="form-group">
		<label>Classes</label>
		<div class="input-group container">
			<div class="row" ng-repeat="row in getClassesByRow()">
				<div class="col-md-6" ng-repeat="class in row">
					<label class="control-label" style="margin-left: 1em; text-indent: -1em;"><input type="checkbox" ng-model="classesChecked[class._id]" ng-change="toggleClass(class)"> {{ class.name }}</label>
				</div>
			</div>
		</div>
	</div>
</form>

</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="save()">Save</button>
	<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>