<div id="shows">
	<div class="title">JOTC Shows and Trials</div>

	<div class="container-fluid">

		<div class="col-md-6">
			The Jackson Obedience Training Club sponsors annual back-to-back obedience and rally trials.  The
			trials are held indoors at the Jackson Fairgrounds.  Competition obedience classes usually include:

			<ul><li ng-repeat="class in getShowClasses()">{{ class.name }}</li></ul>

			<br>We also offer all levels of rally competition:
			<ul><li ng-repeat="class in getRallyClasses()">{{ class.name }}</li></ul>

			<br>Ribbons and trophies are awarded in all classes.  The trials are licensed by the American Kennel
			Club and all qualifying scores in Novice, Open, and Utility may be counted towards AKC
			Obedience titles.  Additionally, qualifying scores in the regular Rally competition may
			count towards AKC Rally titles.
		</div>

		<div class="col-md-6">

			<div class="header">Upcoming Shows and Trials</div>
			<div ng-show="auth.shows" class="auth">
				<button class="btn btn-success" ng-click="openEditor()">New Show</button>
				<br>&nbsp;
			</div>

			<div ng-repeat="show in shows.upcoming" class="show">
				<div class="date">{{ show.dateRange }}, {{ show.title }}</div>
				<div class="map">
					<a href="{{ $location.getDirectionsURLForLocation(show.location) }}" target="_blank">
						<img ng-src="{{ $location.getImageURLForLocation(show.location); }}">
						<br>
						Click for directions
					</a>
				</div>

				<div class="location">{{ show.location }}</div>

				<div class="description">
					{{ show.description }}<span ng-if="show.registrationDeadline">  Entries close {{ show.registrationDeadline | date }}.</span>

					<br><br>
					The following competition classes are included:
					<ul>
						<li ng-repeat="class in show.classes">{{ class.name }}</li>
					</ul>

					<div ng-if="show.premiumListPath" class="premiumList">
						<a class="btn btn-success download" ng-href="{{ show.premiumListPath }}">Download Premium List</a>
						<button ng-if="auth.shows" class="btn btn-danger" ng-click="deletePremiumList(show)">Delete Premium List</button>
					</div>
					
					<button ng-if="show.registrationLink.length > 0" ng-click="openNewWindow(show.registrationLink)" class="btn btn-warning register">Register</button>
				</div>

				<div drag-drop-file-uploader ng-if="auth.shows && !show.premiumListPath" obj-type="shows" obj="show" doc-type="premiumList" doc-name="premium list"></div>

				<div ng-if="auth.shows" style="text-align: right; padding: 10px;">
					<button class="btn btn-primary" ng-click="openEditor(show)">Edit</button> <button class="btn btn-danger" ng-click="delete(show)">Delete</button>
				</div>

			</div>
			
			<hr>
			
			<div class="header">Completed Shows</div>
			<div ng-repeat="show in shows.past" class="show">
				<div class="date">{{ show.dateRange }}, {{ show.title }}</div>
				<div class="location">{{ show.location }}</div>
				<div class="description">
					<a ng-if="show.resultsPath" class="btn btn-success" ng-href="{{ show.resultsPath }}">Download Results</a>
					<div ng-if="auth.shows && show.resultsPath">
						<button class="btn btn-danger" ng-click="deleteResults(show)">Delete Results</button>
					</div>
				
					<div drag-drop-file-uploader ng-if="auth.shows && !show.resultsPath" obj-type="shows" obj="show" doc-type="results" doc-name="results"></div>
					
				</div>				
			</div>
		</div>

	</div>
</div>
