<div class="modal-header">Login</div>

<form ng-submit="formSubmit()">
	<div class="modal-body">

		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" ng-model="credentials.username">
		</div>
		<div class="form-group" ng-if="!inReset">
			<label>Password</label>
			<input type="password" class="form-control" ng-model="credentials.password">
			<a ng-click="forgotPassword()">Forgot Password</a>
		</div>

	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="submit" ng-if="!inReset">Login</button>
		<button class="btn btn-primary" type="submit" ng-if="inReset">Reset Password</button>
		<a class="btn btn-danger" ng-click="cancel()">Cancel</a>
	</div>
</form>
